table, th {
   border: 1px solid black;
}
td {
  border: 1px solid black;
  height: 80px;
  width: 100px;
}

p{
  font-weight: bold;
  font-size: 20px;
}

#welcome{
  text-align: center;
  font-size : 30px;
  color: blue;
  font-weight: bold;
}
#calendar{
  width: 100% ;
  height:75% ;
}
#events{
  width: 100% ;
  height:25%;
}

#prev{
  height:20px;
  width:100px;
  position:absolute;
  left:40%;
}

#next{
 height:20px;
  width:100px;
  position:relative;
  left:60%;

}

#displaydateandtime{
  text-align: right;
  color: blue;
  font-weight: bold;
}
